# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
src/mono_crash.58aabb8ed5.0.json
src/mono_crash.60185b6cec.0.json
src/mono_crash.mem.19349.1.blob
src/mono_crash.mem.22125.1.blob
